.header-inicio {
    background-image: url('../images/fondo-inicio.webp');
    background-position: center;
    background-repeat: no-repeat;
}

.header-content {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.cuadro-titulo {
    background-color: rgba(175, 224, 217, 0.8);
    border: solid 1px #fff;
    min-width: 60%;
    padding: 30px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 4px 8px 15px 8px rgba(33, 64, 64, 0.8);
    text-align: center;
}

.titulo-principal {
    font: bold;
    font-size: 5rem;
    color: #ff9900;
    text-shadow: 2px 2px 4px #0000007c;

}
.logo-principal{
    height: 280px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));

}
.subtitulo-principal {
    font: bold;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #216383;
    text-shadow: 2px 2px 4px #ffffff7c;

}

.cuadro-titulo #descripcion,
#cta {
    font-size: 2rem;
    margin-bottom: 10px;
}

.cuadro-titulo #descripcion {
    padding: 10px;
    border-top: solid 2px #ff9900;
    font-weight: bold;
    color: #efefef;
    text-shadow: 2px 2px 4px #0000007c;
}

.cuadro-titulo #cta {
    font-size: 1.6rem;
    text-decoration: none;
    background-color: #ff9900;
    color: #f3faf9;
    padding: 9px 18px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px #0000007c;
}

.cuadro-titulo #cta:hover {
    background-color: #fda013;
    animation: shadow-inset-center 0.3s linear both;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

@keyframes shadow-inset-center {
    0% {
        box-shadow: inset 0 0 0 0 transparent
    }

    100% {
        box-shadow: inset 0 0 14px 2px rgb(146, 66, 1)
    }
}

#bienvenida {
    text-align: center;
}

#buho-saluda {
    z-index: 1;
    width: 200px;
}

#main {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}

.h2-inicio {
    margin: 0 auto;
    width: fit-content;
    font-size: 2.5rem;
    border-bottom: solid 2px #ff9900;
    color: #1f475b;
}

.h4-inicio {
    font-size: 1.9rem;
    width: fit-content;
    margin: 0 auto;
    color: #287979;
    border-bottom: solid 1px #efb467;
}

.h4-educativo {
    padding-top: 5px;
    font-size: 1.5rem;
    text-align: center;
    color: #1f475b;
}

.h4-nombres {
    font-size: 1.5rem;
    color: #1f475b;
}

.p-inicio {
    max-width: 950px;
    width: 95%;
    padding-top: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
}

.cuadros-main {
    display: grid;
    margin: 15px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#equipo {
    padding-bottom: 20px;
}

.testimonios-cuadro {
    margin: 15px 0;
    padding: 5px;
    background-color: #fef9f3;
    border: solid 1px #216383;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-compromiso,
.card-equipo,
.card-testimonios {
    background-color: #c7e3f0;
    border: solid 1px #216383;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.card-compromiso,
.card-equipo,
.card-testimonios:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card-equipo {
    background-color: #fcf4f4;
}

.card-compromiso {
    background-color: #fefce8;
}

.card-testimonios {
    align-content: center;
}

.card-testimonios .p-inicio {
    font-size: 1.2rem;
}

.foto-equipo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px #ff9900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.user-test {
    padding: 5px;
    border: solid 1px #216383;
    border-radius: 50%;
    background-color: rgba(99, 197, 190, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.icon-comp {
    width: 220px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
}

/*preguntas frecuentes */
.preguntas-frecuentes {
    max-width: 800px;
    padding: 20px 0;
    margin: 0 auto;
}

details {
    background: #eefbfd;
    border: solid 1px #1d9bbd;
    border-radius: 12px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

details:hover {
    background: #d4f4f9;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

summary {
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #287979;
    font-size: 1.1em;
    font-weight: 600;
    transition: background 0.3s ease;
}
summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url(../icons/ronpecabezas.svg);
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

details[open] summary::after {
    transform: rotate(180deg);
}
.answer p{
    padding-bottom: 10px;
}
.preguntas-boton{
    text-decoration: none;
    background-color: #fda013;
    color: white;
    padding: 6px 12px;
    border: solid 1px  #5cbdee;
    border-radius: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.preguntas-boton:hover{
    transform: translateY(-2px);
    border: solid 1px  #ff9900;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}
.answer {
    padding: 0 20px 20px 20px;
    color: #1f475b;
    line-height: 1.6;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    summary {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .cuadros-main {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .h2-inicio {
        text-align: center;
    }
    .logo-principal{
        height: 140px;
    }
}