.contacto-main {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.h2-contac {
    margin: 0 auto;
    width: fit-content;
    font-size: 2.5rem;
    border-bottom: solid 2px #ff9900;
    color: #1f475b;
}

.h3-contac {
    font-size: 1.9rem;
    width: fit-content;
    margin: 0 auto;
    color: #287979;
    border-bottom: solid 1px #efb467;
}

.p-contac {
    text-align: center;
    font-size: 1.4rem;
    padding: 15px;
}

.informacion-card {
    display: flex;
    justify-content: space-evenly;
}

.informacion-contacto {
    background-color: #fefce8;
    border-radius: 35px;
    border: solid 1px #287979;
    padding: 25px;
    margin: 15px;
}

.informacion-mapa {
    background-color: #fefce8;
    border-radius: 45px;
    border: solid 1px #287979;
    padding: 25px;
    margin: 15px;
}

#mapa {
    width: 400px;
    height: 88%;
    margin-top: 15px;
    border: solid 1px #1f475b;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.info-contac {
    background-color: #d5f2ef;
    border: solid 1px #885746;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.info-horarios {
    background-color: #d5f2ef;
    border: solid 1px #885746;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.info-redes {
    background-color: #d5f2ef;
    border: solid 1px #885746;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.lincks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}

.lincks a {
    text-decoration: none;
    color: #1f475b;
    font-weight: bold;
}

.lincks a:hover {
    filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.4));
    transform: scale(1.1);
}

.info-sociales {
    width: 35px;
}

/* Comentario*/
.p-f {
    width: fit-content;
    margin: 0 auto;
    color: #5a4633;
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.form-comentario {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
}

.form-comentario input,
.form-comentario textarea {
    padding: 10px;
    border: 2px solid #c2a58a;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #ffffff;
    transition: border-color 0.3s;
}

.form-comentario input:focus,
.form-comentario textarea:focus {
    border-color: #a7d8d9;
    outline: none;
}

.form-comentario button {
    width: fit-content;
    margin: 0 auto;
    background-color: #a7d8d9;
    color: #1f475b;
    border: solid 1px  ;
    border-radius: 12px;
    padding: 9px 18px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-comentario button:hover {
    background-color: #ffb218;
    color: #ffffff;
    border: solid 1px #a7d8d9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #fff9e6;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.3s ease;
}

.modal-contenido h2 {
    color: #5b3f00;
    margin-bottom: 10px;
}

.modal-contenido p {
    color: #6b4e16;
}

.modal-contenido button {
    background-color: #ffd972;
    color: #6b4e16;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

.modal-contenido button:hover {
    background-color: #ace3de;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .informacion-card {
        flex-direction: column;
    }

    .informacion-contacto {
        padding: 10px;
    }

    #mapa {
        width: 100%;
        height: 300px;
    }

    .contacto {
        padding: 1.5rem;
    }

    .form-contacto button {
        font-size: 1rem;
    }
}