.table-cuadro {
  background-color: #fdf8f4;
  border:solid 3px #7e5136;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(150, 120, 80, 0.15);
  padding: 20px;
  overflow-x: auto;
  margin: 20px auto;
  max-width: 90%;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
 /* border-collapse: collapse;*/
  font-size: 1.2rem;
  background-color: #fffaf6;
  border-radius: 15px;
  overflow: hidden;
}

thead {
  background-color: #a4cbb4; 
  color: #4e3b2a;
}

th {
  padding: 14px;
  text-align: center;
  font-weight: 600;
}

tbody tr:nth-child(even) {
  background-color: #f8efe7; 
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

td {
  padding: 12px 10px;
  text-align: center;
  vertical-align: middle;
  color: #5b4633;
}

td:first-child {
  font-weight: 600;
  background-color: #f1e4d1;
  color: #4a3725;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

table thead tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

@media (max-width: 768px) {
  table {
    font-size: 1rem;
  }

  th, td {
    padding: 10px;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    margin-bottom: 15px;
    background-color: #fffaf6;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(120, 90, 60, 0.1);
    overflow: hidden;
  }

  tbody td {
    display: flex;
    text-align: left;
    padding: 10px 15px;
    border-bottom: 1px solid #f1e4d1;
  }
  
  tbody .titulo-tabla {
    text-align:right;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #6b4e33;
  }

  tbody td:last-child {
    border-bottom: none;
  }
}
